body
    {
      /* font-family: 'Arial Narrow', sans-serif; */
      /* font-family: 'Brush Script MT', 'Brush Script Std', cursive; */
      /* font-family: 'Goudy Old Style', cursive; */
      font-family: 'Lato' sans serif !important;
      /* font-family: 'Dekko'; */
      /* font-family: 'Alegreya Sans SC'; */
      /* font-family: 'Actor'; */
      font-size: 1.2rem;
    }
    .tablespacing
    {
      border-collapse: separate;
      border-spacing: 10px;
    }
    .bg-cool
    {
      background: #2c3e50; /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #2c3e50, #4ca1af); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #2c3e50, #4ca1af);
    }
    .toggler
    {
      position: fixed;
      top: 5px;
      left: 5px;
      border-radius: 50%;
      display:none;
      z-index: 50010;
      height: auto;
      width: auto;
    }
    .unit-translucent
    {
      box-shadow: 0 0 10px;
      background-color: rgba(0,0,0,0.4) !important;
      color: white !important;
      border-radius: 15px;
    }
    .logo{
      border-radius: 15px !important;
    }
    .table-striped>tbody>tr:nth-child(even) {
        background-color: #ddf8e8;
    }
    :checked + label[for="mobile"] {
      color:white;
    }
    :checked + label[for="dsl"] {
      color:white;
    }

    .center_items
    {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    label[for="mobile"] {
    cursor: pointer;
    color: black;
    position: relative;
    }
    label[for="dsl"] {
    cursor: pointer;
    color: black;
    position: relative;
    }

    .readabilitysuperior
    {
      font-size: 1.1em;
      font-weight: 700;
    }
    .col-designed-carousel
    {
      height: 300px;
    }
    .bg-care4as2
    {
      height: 100%;
      background-image: url("../images/background2.svg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center top;
      background-size: 100% 50%;
      opacity: 0.8;
    }
    .bg-care4as
    {
      height: 100%;
      background-image: url("../images/background.svg");
      background-size:100% 100%;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size:cover;
      /* background: url('data:svg+xml,') ; */
    }
    .table-striped>tbody>tr:nth-child(odd) {
        background-color: #fefdfa;
    }
    .table-striped>tbody>tr:hover {
      opacity: 0.5;
    }
    label.hamburg
    {
      display: block;
      background: #f05454;
      width: 55px;
      height: 35px;
      position: relative;
    }
    .line
    {
      position: relative;
      /* left:1.25vmin; */
      height: 3px;
      width: 45px;
      background: #dddddd; border-radius: 2px;
      display: flex;
      margin-top: 12%;
      transition: 0.5s;
      transform-origin: center;
      margin-left: auto;
      margin-right: auto;
    }
    #hamburg:checked + .hamburg .line:nth-child(1)
    {
      transform: translateY(0.8vmin) rotate(-45deg);
    }
    #hamburg:checked + .hamburg .line:nth-child(2)
    {
      opacity:0;
    }
    #hamburg:checked + .hamburg .line:nth-child(3)
    {
      transform: translateY(-1vmin) rotate(45deg);
    }
    input#hamburg {display:none}

    .lds-spinner-sm {
    color: official;
    align-self: center;
    position: relative;
    width: 250px;
    height: 250px;
    align-self: center;
    display: block;
    justify-content: center;
    }
    .lds-spinner {
    color: official;
    align-self: center;
    position: relative;
    width: 250px;
    height: 250px;
    align-self: center;
    display: flex;
    justify-content: center;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    /* display: block; */
    position: absolute;
    top: -45px;
    left: 37px;
    width: 10px;
    height: 50px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
    .loaderDiv
    {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color:rgba(0,0,0,0.8);;
      z-index:100;
      display: none;
      justify-content: center;
    }
    .loader {
    /* display:none; */
    font-size: 2px;
    /* margin: 50px auto; */
    text-indent: -9999em;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    align-self:   center;
    /* background: #ffffff; */
    /* background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%); */
    /* background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%); */
    /* background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%); */
    /* background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%); */
    /* background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%); */
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #0dc5c1;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
    .cards
    {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.8rem;
    }
    .rowdashboardsize
    {
      min-height: 50px;
    }
    .card-simulator
    {
      width: 31%;
      padding: 1%;
    }

    .maincard
    {
      border: 1px solid  rgb(124, 124, 124);
      border-radius: 15px;
      height: 300px;
      display: flex;
      flex-wrap: wrap;
    }

    .subcard
    {
      text-align: right;
      color: darkblue;
    }

    .titel_card
    {
      background-color: darkblue;
      color: white;
      height: 20px;
      font-size: 0.8rem;
      border-radius: 15px 15px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .name_card
    {
      display: flex;
      justify-content: left;
      align-items: center;
      height: 30px;
      padding: 0 0 0 10px;
      font-size: 1.2rem;
      width: 100%;
    }

    .bild_card
    {
      width:20%;
      height:100px;
    }

    .bild_card img
    {
      height:100px;
    }

    .key_card
    {
      width:30%;
      height:100px;
      font-size: 1rem;
      display: flex;
      align-items: center;
    }

    .box_card
    {
      width:50%;
      height:100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .infobox_card
    {
      width:100%;
      height:150px;
      padding: 10px;
      display:flex;
      align-items: center;
    }

    .box_card_inside
    {
        border: 1px solid rgb(124, 124, 124);
        width: 80%;
        height: 100px;
        border-radius: 5px;
        background-color: rgb(232, 249, 252);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .box_card_inside_element
    {
      width: 100%;
      text-align: right;
    }

    .box_card_inside_element_u
    {
      width: 50%;
      text-align: left;
    }
    .box_card_inside_element_g
    {
        width: 50%;
        text-align: right;
    }
    .auswahl
    {
      display:flex;
    }

    .subauswahl
    {
      width:20%;
      padding: 10px;
      border-bottom: 1px solid  rgb(124, 124, 124);
      color: rgb(124, 124, 124);
      font-size: 1rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }
    .subauswahl:hover{
      color: rgba(124, 124, 124, 0.5);
    }
    .aktiv
    {
      border-bottom: 2px solid darkblue;
      background-color: lightblue;
      color: black;
    }

    .inhalt
    {
    }

    .ueberschriften
    {
      display:flex;
      justify-content: space-between;
      color: rgb(124, 124, 124);
      background-color: rgb(205, 231, 236);
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid  rgb(124, 124, 124);

    }

    .tarife
    {
      display:flex;
      justify-content: space-between;
      border: 2px solid darkblue;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 15px;
      height: 4rem;
      align-items: center;
    }
    .tarife:hover
    {
      background-color: lightblue;
      color: white;
    }
    .element
    {
      width: 20%;
      text-align: left;
      padding:5px;

    }

    .element_1
    {
      width:40%;
      padding:5px;
    }

    .radio
    {
      width:20px;
    }
.page-link
{
  border-radius: 50% !important;
  margin-left: 0.25em;
  border-color: #f96332 ;
  color: #f96332 ;
  /* height: 33px; */
  /* width: 35px; */
}
.page-link:hover
{
  background-color: #f7a88e ;
  color: white;
  /* height: 33px; */
  /* width: 35px; */
}
.clicked
{
  background-color: #f96332 ;
  color: white;
}
.page-item a
{
  /* color: white; */
  text-decoration: none;
  /* height: 33px !important; */
  /* width: 35px !important; */
}
.tooLow
{
  background-color: red;
  color: white;
  /* border: 2px solid white; */
}
.stillOK
{
  background-color: green;
  color: white;
}
.hwimage
{
  width: 90%;
  height:auto
}
.rotateButton
{
  /* height: 500px; */
  animation: rotate-button 3s forwards;
}
.rotateBack
{
  animation: rotate-reverse-button 3s forwards;
}
 @keyframes rotate-button {

  100%
  {
    transform: rotate(90deg);
  }
}
 @keyframes rotate-reverse-button {

  0%
  {
    transform: rotate(90deg);
  }
  100%
  {
    transform: rotate(0deg);
  }
}


.borderwhite
{
  border: 1px solid white;
  border-collapse: collapse;
}
.gradientColor
{
  background: rgb(250,117,73);
  background: linear-gradient(144deg, rgba(250,117,73,1) 0%, rgba(250,133,94,0.9864146342130602) 30%, rgba(238,151,123,0.9303922252494747) 75%);
  color:white !important;
}
#previewContainer
{
  background: rgb(203,200,244);
  background: linear-gradient(90deg, rgba(203,200,244,1) 0%, rgba(159,231,208,1) 0%, rgba(223,249,241,1) 0%, rgba(178,238,233,0.8827731776304272) 100%);
  width: 100%;
  height: auto;
  min-height: 15vh;
  padding: 5px;
  border-radius: 25px;
  border: 2px solid black;
  box-shadow:10px 10px 5px grey;
}

/* Container */
.max-main-container{
  margin: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
}

/* Panel */
.max-panel{
  margin: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.max-panel-title{
  background-color: #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid grey;
  padding: 5px;
  font-size: 16px;
}

.max-panel-content{
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

#testdropdown{
  margin-top: 50px;
  margin-right: 50px;
  transform: translate3d(0px, 0px, 0px) !important;
  top: 0px;
  right: 0px;
  left: 0px !important;
  padding: 4px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .toggler {
    display: block;
  }
}
